{% extends 'layout/base.html' %}
{% block content %}
<h1>Edit a user</h1>
<form>
    <div>
        <label for="first_name">First Name</label>
        <input id="first_name" placeholder="First Name" value={{user.first_name}} />
    </div>
    <div>
        <label for="last_name">Last Name</label>
        <input id="last_name" placeholder="Last Name" value={{user.last_name}} />
    </div>
    <div>
        <label for="image_url">Image URL</label>
        <input id="image_url" placeholder="Image URL" value={{user.image_url}} />
    </div>
    <button class='btn-link link-info'>Cancel</button>
    <button class='btn btn-success'>Save</button>
</form>
{% endblock %}