{% extends 'layout/base.html' %}
{% block content %}
<h1>Edit a User</h1>
<form class="bg-secondary-subtle my-4 py-5 px-0 w-50 mx-auto" action={{'/users/' + user.id | string + '/edit' }}
    method="post">
    <div class="mb-3 w-50 mx-auto">
        <input class="form-control" name="first_name" placeholder="First Name" value={{user.first_name}} />
    </div>
    <div class="mb-3 w-50 mx-auto">
        <input class="form-control" name="last_name" placeholder="Last Name" value={{user.last_name}} />
    </div>
    <div class="mb-3 w-50 mx-auto">
        <input class="form-control" name="image_url" placeholder="Image URL" value={{user.image_url}} />
    </div>
    <button class='btn btn-success'>Edit</button>
</form>
{% endblock %}