{% extends 'layout/base.html' %}
{% block content %}
<h1>Create a User</h1>
<form class="bg-secondary-subtle my-4 py-5 px-0 w-50 mx-auto" action="/users/new" method="post">
    <div class="mb-3 w-50 mx-auto">
        <input class="form-control" name="first_name" placeholder="First Name" />
    </div>
    <div class="mb-3 w-50 mx-auto">
        <input class="form-control" name="last_name" placeholder="Last Name" />
    </div>
    <div class="mb-3 w-50 mx-auto">
        <input class="form-control" name="image_url" placeholder="Image URL" />
    </div>
    <button class='btn btn-success'>Add</button>
</form>
{% endblock %}